<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Hello! I’m Erwin Hilton, a software engineer with both a bachelor’s and master’s degree from MIT. </p>

        <p>I’m also an aspiring indie game developer, with experience building projects in Unity, Godot, Phaser 3, and Roblox Studio. 
          I enjoy experimenting with different engines and frameworks, 
          and I’m always looking for new ways to bring ideas to life through code and design. </p>
          
          </div>
      <div class="col-lg-4">
        <p>Outside of development, I’m an avid Argentine tango dancer, a hobbyist potter, and an enthusiastic home cook. And, unsurprisingly for an indie game developer, I love playing video games whenever I get the chance.</p>
      </div>
      <!--
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download Theme
        </a>
      </div>
      -->
      
    </div>
  </div>
</section>
